export CRON_TIME='0 */15 * * * *'
export HUBOT_SLACK_TOKEN=`cat .hubot_slack_token`
export QIITA_ACCESS_TOKEN=`cat .qiita_access_token`
export REDIS_URL='redis://localhost:6379/'
export SLACK_CHANNEL_NAME='#general'

